{% extends 'base.html' %}

{% block content %}
<h1>Hostel Name: {{  hostel.hostel_name }} </h1>
<h2>No of Rooms: {{ total_rooms.count }} </h2>
{% if room_list %}
    <ul>
    {% for room in room_list %}
        <li><a href="/room/{{ room.room_id }}/">{{ room.room_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No rooms are available.</p>
{% endif %}

<button onclick="window.location.href = '/room/booking/'"> Add new room </button>
<button onclick="window.location.href = '/hostel/{{ hostel.hostel_id }}/remove'"> Delete hostel </button>

{% endblock %}